* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/** ========== 헤더 ========== */

header {
  height: 170px;
}

#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url(./images/sp_search.png);
  background-position: -4px -4px;
  background-repeat: no-repeat;
  position: relative;
  top: -6px;
}

#logo-naver {
  text-decoration: none;
}

#logo-naver::before {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: "";
  /* a tag 안 span을 블라인드 처리하니 a tag의 공간 역시 남지 않아 클릭을 할 수 없었다. 
     before로 빈 공간을 생성해내 클릭할 수 있게 만들어 준다. 
  */
}

#header-top {
  float: right;
  margin-top: 15px;
}

#header-top span {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
  margin-right: 5px;
}

#header-search {
  clear: both;
  padding-top: 30px;
}

#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 18px;
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  position: relative;
}

#header-search fieldset input {
  border: none;
  outline: none;
  width: 80%;
}

#search-keybord {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-image: url(./images/sp_search.png);
  background-position: -33px -58px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#search-history {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-image: url(./images/sp_search.png);
  background-position: -84px -55px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#header-search fieldset button {
  top: -2px;
  right: -2px;
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
}

.search-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("./images/sp_search.png");
  background-position: -3px -60px;
  background-repeat: no-repeat;
  /* 정중앙에 맞추어주기 위해서 margin 사용. 다른 방법도 많음. */
  margin: 14px;
}

/** ======== nav ========= */

nav {
  height: 46px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #d1d8e4;
  padding: 16px 0 0 4px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

nav li {
  /* list를 가로로 정렬하게 해준다. */
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url("./images/sp_nav.png");
  background-repeat: no-repeat;
  margin-left: 14px;
}

nav li:first-child span:first-child {
  width: 27px;
  background-position: 0 -285px;
  margin-left: 0;
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
nav li:nth-child(7) span:first-child {
  width: 35px;
  background-position: -125px -130px;
}

nav li:nth-child(8) span:first-child {
  width: 26px;
  background-position: -279px -208px;
}

nav li:nth-child(9) span:first-child {
  width: 26px;
  background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child {
  width: 26px;
  background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child {
  width: 39px;
  background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child {
  width: 26px;
  background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child {
  width: 26px;
  background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child {
  width: 26px;
  background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child {
  width: 13px;
  background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child {
  width: 26px;
  background-position: -279px 0;
}

nav li.more:first-child span:first-child {
  width: 55px;
  background-position: 0 -104px;
}

.nav-divider {
  display: inline-block;
  margin: 0 16px;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#search-ranking {
  position: absolute;
  top: -3px;
  right: 100px;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

/** ======== 메인 ========= */

main {
  display: inline-block;
  width: 100%;
  /* margin collapse 를 막기 위해서 */
  background-color: rgb(224, 224, 224);
}

#main-center {
  padding: 8px 10px;
  width: 1100px;
}

/** ========= 메인 - 1 ===========  */

#main-first-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

/* 두 inline-block 요소의 간격을 없애주기 위해서 float: left 를 사용했다. float의 값을 설정해 준다면, display: inline-block이 필요없다. 자동으로 block이 되기 때문이다. 자식 요소가 float 값을 가질 때 붕 떠버리기 때문에 부모가 자식들을 담기 위해서는 block formatting context에 근거해 inline-block width 100%으로 설정해준다.  */

#main-ad {
  display: inline-block;
  width: 740px;
  height: 120px;
  background-color: beige;
  /* float: left; */
}

#main-login {
  display: inline-block;
  /* float: left; */
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: grey;
}

/** ========== 메인 - 2 ============  */

#main-second-block-1 {
  width: 740px;
}

#main-second-block-2 {
  width: 332px;
  vertical-align: top;
}

#main-ytn {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: white;
  margin-bottom: 5px;
}

#main-ytn h3,
#main-ytn ol {
  display: inline-block;
}

#main-newsstand {
  display: inline-block;
  width: 740px;
  height: 246px;
  background-color: white;
}

#main-newsstand h3 {
  height: 45px;
  border-bottom: 1px solid lightgrey;
}

#main-newsstand ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
}

#main-newsstand li {
  float: left;
  width: calc(100% / 6);
  height: 67px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

#main-newsstand li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
}

#main-second-ad {
  display: inline-block;
  width: 332px;
  height: 150px;
  background: beige;
}

/** ======== 메인-3 ========  */

#main-third-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

#main-category {
  float: left;
  width: 740px;
  height: 837px;
  background-color: white;
  margin-bottom: 8px;
  margin-right: 5px;
}

#main-shopping {
  float: left;
  width: 330px;
  height: 882px;
  background-color: white;
  margin-bottom: 8px;
  vertical-align: top;
}

#main-shopping iframe {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/** ======== 메인-4 =========  */

#main-fourth-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

#main-event {
  float: left;
  width: 740px;
  height: 130px;
  background-color: white;
  margin-right: 5px;
  /* margin-bottom: 8px; */
}

#main-third-ad {
  float: left;
  width: 332px;
  height: 130px;
  background-color: beige;
  vertical-align: bottom;
  /* margin-bottom: 8px; */
}

/** ======== 공통 ========= */

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}
