/* ========== 헤더 ========== */

div#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background-image: url(./images/sp_search.png);
  background-position: -4px -4px;
  background-repeat: no-repeat;
}

#header-search h1 span {
  display: none;
}

#header-search fieldset {
  width: 521px;
  height: 49px;
  display: inline-block;
  margin-left: 20px;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 12px;
  padding-right: 0;
  border: 2px solid #03cf5d;
}

/* ======== 공통 ========= */

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
